<link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
<html>

    <header>
        <h5>checkings: <%= bankAcc.checking%> savings: <%=bankAcc.saving%></h5>
    </header>
</html>